
<div>
  <h3>Список дел</h3>
  {{#if todos.length}}
    <table class="striped">
      <tbody>
        {{#each todos}}
        <form action="/update/{{_id}}" method="POST">
          <tr>
            <td>{{title}}</td>
            <td>
                <p>
                  <label>
                    {{#if completed}}
                    <input name="completed" type="checkbox" checked="checked" value="true" />
                    {{else}}
                    <input name="completed" type="checkbox" value="true"/>
                    {{/if}}
                    <span></span>
                  </label>
                </p>
            </td>
            <td><input type="submit" class="btn btn-small" value="Сохранить"/></td>
            <td><a href="/delete/{{title}}">x</a></td>
          </tr>
        </form>
        {{/each}}
      </tbody>
    </table>
  {{else}}<p>Пока у вас нет дел</p>{{/if}}
</div>


